{{ define "components/day_selector" }}
<div class="day-selector" id="day-selector">
  <button class="day-selector__button"
          hx-get="/logs?date={{ .PrevDay }}"
          hx-target="#logs-container"
          hx-swap="innerHTML">&lt;</button>

  <div>
    <label for="day-selected" hidden>Day Selected</label>
    <input type="date"
           id="day-selected"
           name="day-selected"
           class="day-selector__input"
           pattern="\d{4}-\d{2}-\d{2}"
           value="{{ .CurrentDay }}"
           hx-get="/logs"
           hx-trigger="change"
           hx-target="#logs-container"
           hx-swap="innerHTML"
           hx-vals='js:{"date": document.getElementById("day-selected").value}'>
  </div>

  <button class="day-selector__button"
          hx-get="/logs?date={{ .NextDay }}"
          hx-target="#logs-container"
          hx-swap="innerHTML">&gt;</button>
</div>
{{ end }}
