{{ define "pages/home" }}
{{ template "layouts/base/header" . }}

<div id="logs-page">
  {{ template "components/day_selector" . }}

  <div class="controls-row">
    <a class="add-log-button"
            hx-get="/logs/new"
            hx-target="body" hx-swap="outerHTML"
            hx-vals="js:{ ts: new Intl.DateTimeFormat('sv-SE', {
  timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone,
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
  hour: '2-digit',
  minute: '2-digit',
  second: '2-digit',
  hour12: false
}).format(new Date(
  '{{ .CurrentDay }}'.split('-')[0],
  '{{ .CurrentDay }}'.split('-')[1] - 1,
  '{{ .CurrentDay }}'.split('-')[2],
  new Date().getHours(),
  new Date().getMinutes(),
  new Date().getSeconds()
)).replace(' ', 'T') }"
            >Add Log</a>
  </div>

  <div id="logs-container">
    {{ template "components/daily_log" . }}
  </div>
</div>
{{ if .LogFormModal }}
  {{ template "components/log_form_modal" .LogFormModal }}
{{ end }}

{{ if .TutorialStep }}
  {{ template "components/tutorial_modal" . }}
{{ end }}

{{ template "components/navigation" . }}
{{ template "layouts/base/footer" . }}
{{ end }}

