{{ define "pages/home" }}
{{ template "layouts/base/header" . }}

<div id="logs-page">
  {{ template "components/day_selector" . }}

  <div class="controls-row">
    <a class="add-log-button"
            hx-get="/logs/new"
            hx-target="body" hx-swap="outerHTML"
            hx-vals="js:{ date: '{{ .CurrentDay }}', ts: new Date().toISOString() }"
            >Add Log</a>
  </div>

  <div id="logs-container">
    {{ template "components/daily_log" . }}
  </div>
</div>
{{ if .LogFormModal }}
  {{ template "components/log_form_modal" .LogFormModal }}
{{ end }}

{{ if .TutorialStep }}
  {{ template "components/tutorial_modal" . }}
{{ end }}

{{ template "components/navigation" . }}
{{ template "layouts/base/footer" . }}
{{ end }}

